{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Add Program Scholarship</h2>
    <form method="post" action="{{ url_for('prog_scholar') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="program_id">Program ID:</label>
            {{ form.program_id(class="form-control") }}
            {% for error in form.program_id.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="scholarship_id">Subject ID:</label>
            {{ form.scholarship_id(class="form-control") }}
            {% for error in form.scholarship_id.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Add Mapping</button>
    </form>
</div>

<h2>Program Subjects</h2>
    {% for program in programs %}
    <h3>{{ program.program_name }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Scholarship</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for scholarship in program.program_scholarships %}
            <tr>
                <td>{{ scholarship.scholarship.scholarship_name}}</td>
                <td>GHS {{ scholarship.scholarship.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endfor%}
{% endblock %}


