table {
            border-collapse: collapse;
            width: 100%;
}
th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
}
th {

}
.navigation {
    list-style: none;
    padding: 0;
}

.navigation h1 a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    column-count: 2;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.navigation ul li a:hover {
    text-decoration: underline;
}
